@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: black;
    font-family: Poppins;
    overflow: hidden;
}

header{
    width: 1340px;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
    z-index: 2;
    position: relative;
    font-size: 18px;
    padding-top:15px; /* Adds space between the top of the header and the top of the screen */
}

header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 48px;
    color: #eceff4;
}
header .logo img {
    margin-right: 25px; /* Optional: Adds some space between the logo and the text */
}

header nav a{
    margin-left: 30px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}


.carousel::before{
    width: 700px;
    height: 200px;
    content: '';
    background-image: linear-gradient(70deg, white, skyblue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}

.carousel {
    margin: 50px auto;
    width: 90%;
    height: calc(100vh - 150px); /* Adjust height as needed */
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding: 20px 0;
}

.carousel::-webkit-scrollbar {
    width: 10px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.magazine {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.magazine-item {

    background-color: transparent;
    backdrop-filter: blur(2px);
    background-image: linear-gradient(
        120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.2),
    );

    border-radius: 20px;
    overflow: hidden;
    color: #d8dee9;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.magazine-item:hover {
    transform: scale(1.05);
}

.magazine-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.magazine-item h3 {
    margin: 15px;
    font-size: 24px;
}

.magazine-item p {
    margin: 0 15px 15px;
    font-size: 16px;
    color: #7ba6a2;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: -3;
    overflow: hidden;
}

.stars {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: move-background 70s linear infinite;
}

/* Keyframes for Background Animation */
@keyframes move-background {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(1000px, 0px, 0px);
    }
}